tensorflow==2.15.0.post1
tensorflow-decision-forests==1.8.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.35.0
tf_keras==2.15.1
keras==2.15.0
numpy
flask
pandas
nlp-id